@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

@keyframes backgroundSlide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  background: linear-gradient(#000000, #1e1e1e, #414141, #404040, #000000);
  background-size: 400% 400%;
  animation: backgroundSlide 35s ease infinite;
  font-family: "Fraunces", serif;
  color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.main {
  display: grid;
}

li {
  list-style: none;
}

.text-area {
  padding: 8px;
  border-radius: 6px;
  width: 700px;
  height: 60px;
  font-size: 2rem;
}

.to-do__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.submit {
  margin-left: 20px;
}

button {
  border-radius: 6px;
  height: 60px;
  width: 80px;
  font-size: 1.25rem;
}

.submit {
  background: rgb(51, 219, 36);
}

.delete {
  background: rgb(248, 67, 73);
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.delete {
  /* margin-left: 300px; */
  justify-content: flex-end;
  float: right;
}

hr {
  /* display: flex; */
  width: 800px;
  border-color: pink;
}